[submodule "polyidus/polyidus"]
	path = docker/polyidus/polyidus
	url = https://github.com/szsctt/polyidus.git
[submodule "vifi/ViFi"]
	path = docker/vifi/ViFi
	url = https://github.com/szsctt/ViFi.git
