[submodule "polyidus/polyidus"]
	path = docker/polyidus/polyidus
	url = https://github.com/szsctt/polyidus.git
[submodule "vifi/ViFi"]
	path = docker/vifi/ViFi
	url = https://github.com/szsctt/ViFi.git
[submodule "docker/VSeq-Toolkit/VSeq-Toolkit"]
	path = docker/VSeq-Toolkit/VSeq-Toolkit
	url = https://github.com/CompMeth/VSeq-Toolkit.git
[submodule "docker/seeksv/seeksv"]
	path = docker/seeksv/seeksv
	url = https://github.com/qiukunlong/seeksv.git
